/*
Author: Javed Ur Rehman
Website: http://www.allphptricks.com/
*/

body {font-family: 'Amatic SC', cursive;font-size: 2.3em;color: cadetblue;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
a {color:darkgray; text-decoration:none;}
a:hover {color: cadetblue;}

.form{width: 300px; margin: 0 auto;}
input[type='text'], input[type='email'], input[type='password'] {width: 200px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: darkgray; font-size: 14px; margin-top: 10px;}
input[type='submit']{padding: 10px 25px 8px; color: #fff; background-color: cadetblue; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid white; border-radius: 2px; margin-top: 10px; cursor:pointer;}
input[type='submit']:hover {background-color: darkgray; color:white;}


.bg {
	background: url("wbeach.jpeg") no-repeat center center fixed; 
	background-size: cover;
 position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
  

 